.header {
  height: 1200px;

  &__top {
    background: #c11717;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__logo {
    margin-right: 70px;
  }

  &__bottom {
    background: #ffffff;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.22);
    position: relative;
  }


  &__slogan {
    font-family: "Geometria-Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
    &:hover > .dropdown-menu {
      display: block;
      visibility: visible;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-family: "Geometria-Regular", sans-serif;
    font-weight: 700;
    color: #2e2e2d;
    font-size: 16px;
    padding: 28px 15px 26px;
    border-bottom: 2px solid transparent;
    &:hover {
      border-color: #c11717;
      color: #c11717;
    }
  }
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  position: absolute;
  padding: 0;
  background: #ffffff;
  left: 0;
  right: 0;
  box-shadow: inset 0 10px 15px -5px rgba(0, 0, 0, 0.22), 0 10px 15px -5px rgba(0, 0, 0, 0.22);

  li {
    list-style: none;
  }
}

.submenu {
  height: 100%;
  padding: 30px 0;
  margin: 0;

  &__item {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-family: "Geometria-Regular", sans-serif;
    font-weight: 700;
    color: #2e2e2d;
    font-size: 16px;

    &:hover {
      color: #c11717;
    }
  }
  &__title {
    color: #c11717;
    padding:0 0 20px 0;
  }
}




