.header {

  &__top {
    background: #c11717;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__bottom {
    background: gray;
  }

  &__slogan {
    font-family: "Geometria-Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }

  &__logo {
    display: block;
    width: 200px;
    max-width: 100%;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:first-child) {
      margin-left: 80px;
    }
  }

  &__link {
    font-family: "Geometria-Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &--light {
      font-family: "Geometria-Thin", sans-serif;
    }
  }

  &__icon {
    fill: #ffffff;
    width: 22px;
    height: 22px;

    &--mail {
      width: 22px;
      height: 17px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: red;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    //line-height: 90px;
    font-family: "Geometria-Regular", sans-serif;
    font-weight: 400;
    color: #2e2e2d;
    font-size: 16px;
  }
}