@font-face{
  font-display: swap;
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
  url('../fonts/Geometria-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-display: swap;
  font-family: "Geometria-Regular";
  src: url('../fonts/Geometria-Regular.woff2') format('woff2'),
  url('../fonts/Geometria-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-display: swap;
  font-family: 'Geometria-Thin';
  src: url('../fonts/Geometria-Thin.woff2') format('woff2'),
  url('../fonts/Geometria-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-display: swap;
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-display: swap;
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
