* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1190px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}